* {
  font-family: monospace;
  font-size: 14px;
}

window {
  margin: 0px;
  border: 2px solid #5e81ac;
  background-color: #282828;
}

#input {
  margin: 5px;
  padding: 8px;
  border: none;
  color: #eceff4;
  background-color: #282828;
}

#inner-box {
  margin: 5px;
}

#outer-box {
  margin: 5px;
}

#scroll {
  margin: 0px;
}

#entry {
  padding: 6px;
  color: #d8dee9;
}

#entry:selected {
  background-color: #5e81ac;
  color: #2e3440;
}

